<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Push Ups Counter</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

    <!-- Progressive WebApp -->
    <link rel="manifest" href="manifest.json" />

    <!-- Preload fonts to avoid document size error -->
    <!-- <link rel="preload" as="font" href="./static/fonts/Grtsk.woff" type="font/woff" crossorigin="anonymous" /> -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <noscript>
      <strong>We're sorry but pot doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!--end-head-->
  </head>

  <body class="no-js" ontouchstart="">
      <script type="text/javascript"> if (top != self) top.location.replace(location);</script>
      <script type="text/javascript">document.body.classList.remove('no-js');</script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153602372-4"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153602372-4');
      </script>


      <div id="main" class="clearfix">
        <div>
          <div id="app" data-server-rendered="true"></div>
        </div>
      </div>


      <!--begin-scripts-->
      <!--end-scripts-->
  </body>
</html>
