<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Push Ups Counter</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Progressive WebApp -->
    <link rel="manifest" href="manifest.json" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="Push Ups Counter" />
    <meta name="apple-mobile-web-app-title" content="Push Ups Counter" />
    <meta name="theme-color" content="#0e0e0e" />
    <meta name="msapplication-navbutton-color" content="#0e0e0e" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="msapplication-starturl" content="/" />

    <!-- Preload fonts to avoid document size error -->
    <!-- <link rel="preload" as="font" href="./static/fonts/Grtsk.woff" type="font/woff" crossorigin="anonymous" /> -->

    <!-- OpenGraph -->
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="" />
    <!-- -->

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:creator" content="@fcordillot" />
    <!-- -->

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <noscript>
      <strong>We're sorry but pot doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <!--end-head-->
  </head>

  <body class="no-js">
      <script type="text/javascript"> if (top != self) top.location.replace(location);</script>
      <script type="text/javascript">document.body.classList.remove('no-js');</script>

      <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <!-- <script async src="https://www.googletagmanager.com/gtag/js?id="></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '');
      </script> -->


      <div id="main" class="clearfix">
        <div>
          <div id="app" data-server-rendered="true"></div>
        </div>
      </div>


      <!--begin-scripts-->
      <!--end-scripts-->
  </body>
</html>
