/* colors */
$colors-list: (
  black: #000000,
  black-near: #0e0e0e,
  gray-darker: #2a2a2a,
  gray-dark: #535764,
  gray-mid: #787e90,
  gray: #a7a7a7,
  gray-light: #dbdbdb,
  gray-lighter: #eeebe7,
  white-near: #f4f4f6,
  white: #ffffff,

  // Brand black
  brand-black: #0f0a19,

  // Brand purple
  brand-purple: #392870,

  // Brand green
  brand-green: #2b513d,

  // Brand orange
  brand-orange: #df632e,

  // Brand pink
  brand-pink: #ffb5a3,

  // Brand yellow
  brand-yellow: #ffe200,

  // Brand gray
  brand-gray: #8b8b8b
);

/* gradients */
$gradients-list: ();
